@import "assets/fonts/";

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2rem 1rem 0;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
}

.profile-card{
  display: flex;
  overflow: hidden;
  border-radius: 7px;
  width: 100%;
  max-width: 300px;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  padding: 2rem;
}

.profile-card img{
  width: 30%;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.profile-info{
  text-align: center;
  line-height: 80%;
  font-family: 'Inter', sans-serif;
}

.profile-info h1{
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 700;
}

.profile-info p{
  color: hsl(75, 94%, 57%);
  font-size: 0.9rem;
  font-weight: 400;
}

.profile-bio{
  color: hsl(0, 0%, 80%);
  font-size: 0.9rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.social-links{
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.social-links ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0;
  width: 100%;
}

.social-links li{
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.social-links a{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  background-color: hsl(0, 0%, 20%);
  padding: 0.8rem;
  border-radius: 5px;
  width: 100%;
  max-width: 280px;
  text-align: center;
}

.social-links{
  margin: 0;
}

.social-links a:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  transition: background-color 0.3s ease-in-out;
}

.attribution{
  font-size: 11px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  color: white
}